

<!-- Planning layout of the checkout page -->

<!-- Option 1 have products be organized in a table with quanity drop down and price in a row as well -->



<!-- Option 2 have products have a layout that is repeated so thumbnail image of product and the title (name) of product with price  -->

<!-- <div>
<img src="..." class="rounded float-left" alt="...">></span>
<p>Product Title</p>
<div>
    <select name="quanity" id="">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    </select>
</div>
</div> -->
