<div class="pantsContainer"> 
    <div *ngFor="let pants of stylePants">
        
        <div class="cardStyle">
            <div class="card" style="width: 18rem;">
                <img src={{pants.image_url}} 
                    class="card-img-top"
                    width="290px"
                    height="300px" 
                    alt="pants">
                <div class="card-body">
                  <h5 class="card-title">{{ pants.name }}</h5>
                  <p class="card-text">${{ pants.price }}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
    
    </div>
</div>
