<app-nav></app-nav>
<!-- Display options for shoes -->
<div [@animationOption2]="adding ? 'open' : 'close'">
    <header class="header" style="color: blue">Added to Cart!</header>
</div>
<div class="shoesContainer"> 
    <div *ngFor="let shoe of shoeStyles">
        
        <div class="cardStyle">
            <div class="card" style="width: 18rem;">
                <img src={{shoe.image_url}} 
                    class="card-img-top"
                    width="290px"
                    height="300px" 
                    alt="hats">
                <div class="card-body">
                  <h5 class="card-title">{{ shoe.name }}</h5>
                  <p class="card-text">${{ shoe.price }}</p>
                  <button type="submit" class="btn btn-primary" (click)="addToCart(shoe.id)"  >Add to Cart</button>
                </div>
              </div>
        </div>
    
    </div>
</div>