<div>
    <h1 id="navHeader">
        <img id="navImg"
        src="../../assets/4u2nv.png" 
        width="20%"
        height="100px"
        alt="logo"
        (click)="goHome()"/>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navItems">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/shirts" routerLinkActive="active">Shirts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/hats" routerLinkActive="active">Hats</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/shoes" routerLinkActive="active">Shoes</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/pants" routerLinkActive="active">Pants</a>
                        </li>
                    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" routerLink="/watches" routerLinkActive="active">Watches</a>
                        </li>
                    </div>
                </div>
            </ul>
        </nav>
    </h1>
</div>
