<app-nav></app-nav>
<!-- Display options for hats -->
<div [@animationOption2]="adding ? 'open' : 'close'">
    <header class="header" style="color: blue">Added to Cart!</header>
</div>
<div class="hatsContainer"> 
    <div *ngFor="let hat of hatStyles">
        
        <div class="cardStyle">
            <div class="card" style="width: 18rem;">
                <img src={{hat.image_url}} 
                    class="card-img-top"
                    width="290px"
                    height="300px" 
                    alt="hats">
                <div class="card-body">
                  <h5 class="card-title">{{ hat.name }}</h5>
                  <p class="card-text">${{ hat.price }}</p>
                  <button class="btn btn-primary" (click)="addToCart(hat.id)">Add to Cart</button>
                </div>
              </div>
        </div>
    </div>
</div>
