<app-nav></app-nav>
<!-- Display options for watches -->
<div class="watchesContainer"> 
    <div *ngFor="let watch of watchStyles">
        
        <div class="cardStyle">
            <div class="card" style="width: 18rem;">
                <img src={{watch.image_url}} 
                    class="card-img-top"
                    width="290px"
                    height="300px" 
                    alt="hats">
                <div class="card-body">
                  <h5 class="card-title">{{ watch.name }}</h5>
                  <p class="card-text">${{ watch.price }}</p>
                  <a class="btn btn-primary" (click)="addItem(watch)">Add to Cart</a>
                </div>
              </div>
        </div>
    
    </div>
</div>