<div class="login-form" style="display: flex">
    <div class="login, text-center">
      <img src="../../assets/4u2nv.png" alt width="230" height="130"/>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <h1 id="header">Please sign in</h1>
            <div class="form-group">
              <input 
              type="text" 
              name="userName"
              class="form-control" 
              id="inputUsername" 
              aria-describedby="emailHelp" 
              placeholder="Enter First Name"
              ngModel
              required
              >
            </div>
            <!-- Directive to alert user of invalid username -->
            <div *ngIf="isValidUser" style="color: red">User does not exist. Please try again.</div>
            <div id="buttonBox" class="text-center">
              <button id="signin" type="submit" class="btn btn-primary">Sign in</button>
              <button id="signup" type="button" class="btn btn-primary" (click)="onSignUp()">Sign up</button>
            </div>
          </form>
    </div>

    <div *ngIf="isSigningUp" class="signup">
      You should only see this if signing up
    </div>
</div>
