<div class="formsContainer">
  <form class="block" (ngSubmit)="logIn(logInForm)" #logInForm="ngForm">
    <h3>Log In!</h3>
    <div class="form">
      <label for="firstName">FirstName</label>
      <input
        required
        #model="ngModel"
        ngModel
        name="firstName"
        id="firstName"
        type="text"
      />
      <div *ngIf="invalidUser" class="alert alert-danger">
        Incorrect Name, Please Try Again.
      </div>
    </div>
    <button
      [disabled]="logInForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
  </form>
  <form class="block" (ngSubmit)="newUser(newUserForm)" #newUserForm="ngForm">
    <h3>Sign Up!</h3>
    <div class="form">
      <label for="firstName">FirstName</label>
      <input required ngModel name="firstName" id="firstName" type="text" />
      <label for="lastName">lastName</label>
      <input required ngModel name="lastName" id="lastName" type="text" />
      <label for="email">email</label>
      <input required ngModel name="email" id="email" type="text" />
      <label for="city">city</label>
      <input required ngModel name="city" id="city" type="text" />
      <label for="phoneNumber">phoneNumber</label>
      <input required ngModel name="phoneNumber" id="phoneNumber" type="text" />
      <label for="birthDay">birthDay</label>
      <input required ngModel name="birthDay" id="birthDay" type="date" />
    </div>
    <button
      [disabled]="newUserForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Login
    </button>
  </form>
</div>
