<div style="display: flex">
    <div class="login">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
              <label for="userNameInput">User Name</label>
              <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Enter First Name">
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
    </div>

    <div class="signup">

    </div>
</div>
