.nav-container {
    width: 100%;
    background: linear-gradient(to top, transparent 0%, rgba(236, 38, 38, 0.445) 50%);
}

.nav-link{
    color: white;
    font-weight: 500% !important;
    display: flex;
    flex-wrap: wrap;
    
}

.nav-link:hover{
    background-color: #F14156;
    color: white;
    transition: all 0.5s ease;
}

.nav-img {
    display:flex;
    height: 100px;
}

