<div *ngIf="itemsInCart()" class="items" style="height: 90vh">
  <app-nav></app-nav>
  <h3>In Your Cart</h3>
  <div *ngFor="let item of this.cart.cart" class="cartItems">
    <!-- ------- -->
    <div class="leftSide">
      <p>
        {{ item.quantity }} {{ item.name }} at {{ item.price | currency }} each
      </p>
    </div>

    <div class="rightSide">
      <button class="btn btn-success" (click)="onAdd(item.name, item.price)">
        Add
      </button>
      <button class="btn btn-warning" (click)="onRemove(item.name, item.price)">
        Remove
      </button>
      <button class="btn btn-danger" (click)="onDelete(item.name, item.price)">
        Delete
      </button>
    </div>
    <!-- ------- -->
  </div>

  <div class="seperator"></div>

  <div class="checkout">
    <div class="subTotal lineItem">
      <h5>Sub-Total...</h5>
      <p></p>
    </div>
    <div class="taxes lineItem">
      <h5>Taxes...</h5>
      <p></p>
    </div>
    <div class="total lineItem">
      <h5>Total...</h5>
      <p></p>
    </div>
    <button (click)="confirm()" class="confirm btn btn-primary">
      Check Out
    </button>
    <button (click)="this.cart.getTotal()">test</button>
  </div>
</div>

<div *ngIf="!itemsInCart()" class="msg">
  <h2>Whoops!</h2>
  <p>
    It looks like you don't have any items in your cart!? Head back to the home
    page!
  </p>
  <p>
    You can come back here and check out once you've added items to your
    shopping cart
  </p>
  <a class="btn btn-primary" routerLink="/home">Home</a>
</div>
