<div class="accessoriesContainer"> 
    <div *ngFor="let misc of stylesAcc">
        
        <div class="cardStyle">
            <div class="card" style="width: 18rem;">
                <img src={{misc.image_url}} 
                    class="card-img-top"
                    width="290px"
                    height="300px" 
                    alt="shirts">
                <div class="card-body">
                  <h5 class="card-title">{{ misc.name }}</h5>
                  <p class="card-text">${{ misc.price }}</p>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
              </div>
        </div>
    
    </div>
</div>

