<div class="profilePage">
    <div *ngIf="!isEditing">
    <div class="form">
        <p>user: {{user.userName}}</p>
        <p>first: {{user.firstName}}</p>
        <p>last: {{user.lastName}}</p>
        <p>city: {{user.city}}</p>
        <p>email: {{user.email}}</p>
        <p>phone: {{user.phoneNumber}}</p>
        <p>DOB: {{user.birthDate}}</p>
        <button (click)="onEdit()">Edit Profile</button>
    </div>
    </div>
    <div *ngIf="isEditing" class="editForm">
        <!-- form will live here -->
        
        <form class="form" [formGroup]="profileForm" >
            <!-- <div style="display: block;"> -->
                <label for="firtName">First Name</label>
                <input id="firstName" type="text" formControlName="firstName" placeholder="{{user.firstName}}" />
            <!-- </div> -->
            <br>
            <label for="lastName">Last Name</label>
            <input id="lastName"  type="text" formControlName="lastName" placeholder="{{user.lastName}}" />
            <br>
            <label for="city">city</label>
            <input id="city" type="text" formControlName="city" placeholder="{{user.city}}"/>
            <br>
            <label for="email">email</label>
            <input id="email" type="email" formControlName="email" placeholder="{{user.email}}"/>
            <br>
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="tel" formControlName="phoneNumber" placeholder="{{user.phoneNumber}}"/>
            <br>
            <label for="birthDate">Date of Birth</label>
            <input id="birthDate" type="date" formControlName="birthDate" placeholder="{{user.birthDate}}"/>
            <br>
        </form>
    
    </div>
</div>
