<div class="logoHolder">
    <img
        src="../../assets/4u2nv.png" 
        width="42%"
        height="300px"
        alt="logo"/>

      
</div>

<div class="productContainer">

   
    
    <div class="cardContent"> 
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhjDic1LN3R1v9gYvbg_PB0bH4pidbAoSQlQ&usqp=CAU" 
        class="card-img-top" 
        width="290px"
        height="300px"
        alt="shirts">
        <div class="card-body">
          <h5 class="card-title">Shirts</h5>
          <p class="card-text"> You mom bought this, too.</p>
          <a href="#" class="btn btn-primary" routerLink="/shirts" routerLinkActive="active">View All</a>
        </div>
      </div>
    </div>

    <div class="cardContent"> 
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTxfFwEKGCmlWGwc2JlF0Yh0bGhgSeG7dGjQ&usqp=CAU" 
            class="card-img-top" 
            width="290px"
            height="300px"
            alt="hats">
            <div class="card-body">
              <h5 class="card-title">Hats</h5>
              <p class="card-text">Stylish and comfortable.</p>
              <a href="#" class="btn btn-primary" routerLink="/hats" routerLinkActive="active">View All</a>
            </div>
          </div>
    </div>
    
    <div class="cardContent">
        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQZXf819Vg-c28DmDWyaHWJtRcgvNFfCC6eA&usqp=CAU" 
            class="card-img-top" 
            width="290px"
            height="300px"
            alt="shoes">
            <div class="card-body">
              <h5 class="card-title">Shoes</h5>
              <p class="card-text">Kicks for every season!</p>
              <a href="#" class="btn btn-primary" routerLink="/shoes" routerLinkActive="active">View All</a>
            </div>
          </div>
    </div>

    <div class="cardContent">

        <div class="card" style="width: 18rem;">
            <img src="https://www.millet-mountain.com/media/catalog/product/cache/6/image/658x/9df78eab33525d08d6e5fb8d27136e95/m/i/miv7448rg-0247-all-outdoor-ii-rg-pant.jpg" 
            class="card-img-top" 
            width="290px"
            height="300px"
            alt="pants">
            <div class="card-body">
              <h5 class="card-title">Pants</h5>
              <p class="card-text">Skinny, casual, daily, you name it.</p>
              <a href="#" class="btn btn-primary" routerLink="/pants" routerLinkActive="active">View All</a>
            </div>
        </div>
    </div>

    <div class="cardContent">

        <div class="card" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_EIHk9I1TsBb34avm4KEEHbbz1GSgL9uaJA&usqp=CAU" 
            class="card-img-top" 
            width="290px"
            height="300px"
            alt="accessory">
            <div class="card-body">
              <h5 class="card-title">Watches</h5>
              <p class="card-text">Rose gold, black, men, women.</p>
              <a href="#" class="btn btn-primary" routerLink="/watches" routerLinkActive="active">View All</a>
            </div>
          </div>
    </div>
    
            
</div>
