<div class="productContainer">
      <div class="itemContainer"> 
        <div *ngFor="let item of eachItem">
            
            <div class="cardStyle">
                <div class="card" style="width: 18rem;">
                    <img src={{item.image_url}} 
                        class="card-img-top"
                        width="290px"
                        height="300px" 
                        alt="shoes">
                    <div class="card-body">
                      <h5 class="card-title">{{ item.name }}</h5>
                      <p class="card-text">{{ item.description }}</p>
                      <a href="#" routerLink={{item.portal}} class="btn btn-secondary">View All</a>
                    </div>
                  </div>
            </div>
        
        </div>
    </div>
   
            
</div>
