

.productContainer {
    
    height: fit-content;
    border-style: groove;
    display: block;
    justify-content: space-evenly;
    padding: 10px;
    flex-flow:  row-reverse;
    

}
.itemContainer {
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-flow: row wrap;
}

.cardContent{
    text-align: center;


}
